{% extends "shorten/template.html" %}
{% block content %}
	<div class = "center-block">
	<h1 style="text-align:center" id="shortify-title">Shortify</h1>
	<p style="text-align:center">Quickly shorten your lengthy urls with shortify</p>
	<div class = "row">
		<form>
			<input size="80" type="text" id="urlInput" name="urlInput" placeholder="Enter Link">
		</form>
		<button type="button" class="btn btn-primary" id="gen-link-btn">Generate Link</button>
	</div>
	<div class = "row">
		<div class="url-error hide">
			<span style="text-align:center">
			<p>An Error has Occured</p>
			<p id="error-output"></p>
			</span>
		</div>
		<div class="url-success hide">
			<span style="text-align:center">
			<p>Url successfully created, located at : </p>
			<p id="success-output"></p>
			</span>
		</div>
	</div>

	</div>
{% endblock content %}


{% block outside-content %}
	<div class="author-div">
		<p>Created by <span style="font-weight:bold">Joshua Challenger</span> - <a href="https://github.com/Grandduchy">Grandduchy</a></p>
	</div>
{% endblock outside-content %}
