{% extends "shorten/template.html" %}
{% block content %}
	<div class = "center-block">
	<h1 class="text-center" id="shortify-title">Shortify</h1>
	<p class="text-center">Quickly shorten your lengthy urls with shortify</p>
	<div class = "row">
		<form>
			<input size="80" type="text" id="urlInput" name="urlInput" placeholder="Enter Link">
		</form>
		<button type="button" class="btn btn-primary" id="gen-link-btn">Generate Link</button>
	</div>
	<div class = "row" style="position:relative">
		<div class="hide" id="url-result">
			<span class="centered">
			<p class="text-center" id="info-output"></p>
			<p class="text-center" id="output"></p>
			</span>
		</div>
	</div>

	</div>
{% endblock content %}


{% block outside-content %}
	<div class="author-div">
		<p>Created by <span style="font-weight:bold">Joshua Challenger</span> - <a href="https://github.com/Grandduchy">Grandduchy</a></p>
	</div>
{% endblock outside-content %}
