body {
	background: #fafafa;
}

#shortify-title {
	color: blue;
	margin-top:50px;
	margin-bottom:50px;
	font-style: italic;
	font-size:30;
	font-family:"Monospace";
	font-weight: "bold";
}

#urlInput {
	margin-top: 2px;
	margin-right: 25px;
	margin-left: 25px;
	box-shadow: 3px 3px #808080;
	border-radius:4px;
}

#gen-link-btn {
	box-shadow: 0px 4px #0000e6;
}


.author-div {
	position:fixed;
	bottom: 0;
	right: 20px;
}

.hide {
	display: none;
}

.centered {
	position:absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	top: 0px;
}

.text-center {
	text-align:center;
}

#info-output {
	margin-top:10px;
}

